PORT        =   8080

DB_HOST     =   host
DB_PORT     =   3306
DB_NAME     =   name
DB_USER     =   user
DB_PASS     =   pass

SMTP_HOST   =   host
SMTP_PORT   =   1
SMTP_USER   =   user
SMTP_PASS   =   pass
SMTP_FROM   =   from